<form action="" method="post">
  <input type="text" placeholder="code" name="code">
  <select name="owner">
    <option selected>USERNAME</option>
  </select>
  <textarea placeholder="notes"></textarea>
  <input placeholder="form">
  <input placeholder="source">
  <select>
    <option>Unassigned</option>
    <option>Requested</option>
    <option>Molecular Modelling</option>
    <option>Preperation</option>
    <option>Optimalization</option>
    <option>Production</option>
    <option>Quality Control</option>
    <option>Completed</option>
    <option>Canceled</option>
    <option>ON_HOLD</option>
    <option>Library</option>
  </select>
  {% csrf_token %}
  <button>Submit</button>
</form>
