{% extends "biodb/base.html" %}
{% block content %}
  <h1>Sample create form</h1>
  <form action="" method="post">
    {% if error %}<p>{{ error }}</p>{% endif %}
    <input type="text" placeholder="code" name="code">
    <select class="owner" name="owner">
      {% for owner in owners %}
      <option {% if selected_owner == owner %}selected{% endif %}>{{owner}}</option>
      {% endfor %}
    </select>
    <textarea name="notes" placeholder="notes">{{ notes_value }}</textarea>
    <input name="form" value="{{ form_value }}" placeholder="form">
    <input name="source" placeholder="source" value="{{ source_value }}">
    <select class="statuses" name="status">
      <option value="1" {{ select_1 }}>Unassigned</option>
      <option value="2" {{ select_2 }}>Requested</option>
      <option value="3" {{ select_3 }}>Molecular Modelling</option>
      <option value="5" {{ select_5 }}>Preperation</option>
      <option value="6" {{ select_6 }}>Optimalization</option>
      <option value="7" {{ select_7 }}>Production</option>
      <option value="8" {{ select_8 }}>Quality Control</option>
      <option value="9" {{ select_9 }}>Completed</option>
      <option value="10" {{ select_10 }}>Canceled</option>
      <option value="11" {{ select_11 }}>ON_HOLD</option>
      <option value="12" {{ select_12 }}>Library</option>
    </select>
    {% csrf_token %}
    <button>Submit</button>
  </form>
{% endblock %}
